<div class="infoPais">
    <h2>@ViewBag.Pais.Nombre</h2>
    <img src="@ViewBag.Pais.imgBandera" alt="">
    <h3>Poblacion: @ViewBag.Pais.poblacion millones de habitantes</h3>
    <h3>Este pais se independizó el @ViewBag.Pais.fechaIndependencia.ToShortDateString()</h3>
    <h3>Una atraccion turistica popular es  @ViewBag.Pais.atractivosTuristicos</h3>
</div>